body {
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.le {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom left, #3c393918, #33323218),
    url(img/findin\ it\ diff_img.png);
  background-size: cover;
  align-content: center;
  justify-content: center;
  text-align: center;
  /* transform: scale(1.1); */
}
/* .gla {
  display: flex;
  position: absolute;
  left: 40px;
  top: 20px;
  filter: invert(1);
  background-size: cover;
} */
@font-face {
  font-family: mine;
  src: url(fonts/Ninja2.otf);
}
@font-face {
  font-family: sortz;
  src: url(fonts/Mistrully.ttf);
}
@font-face {
  font-family: sor;
  src: url(fonts/ZapfinoExtraLT-One.otf);
}
@font-face {
  font-family: wrk;
  src: url(fonts/Billie\ Sight.ttf);
}
.le h1 {
  font-family: mine;
  font-size: 29px;
  color: rgba(74, 5, 3, 0.877);
  font-weight: 500;
  background-color: rgba(225, 225, 224, 0.436);
  margin-bottom: 470px;
  margin-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 5px;
  height: 5%;
  border-style: double;
  border-color: rgba(250, 249, 249, 0.66);
  border-radius: 17px;
}
.me {
  display: flex;
  background: linear-gradient(
      to top,
      rgba(34, 34, 34, 0.185),
      rgba(34, 34, 34, 0.386)
    ),
    url(img/lobby.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100vh;
}
/* #p img {
  padding: 5px;
  border-radius: 50%;
} */
nav {
  background-color: rgba(0, 0, 0, 0.379);
  height: 100px;
  width: 1515px;
}
.nav_cont {
  position: absolute;
  top: 720px;
  left: 230px;
  width: 100vh;
  height: 70px;
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 115px;
  margin-top: 0.1%;
  width: 29%;
  font-size: 16.5px;
}
ul li a {
  text-decoration: none;
  color: azure;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  letter-spacing: 1.3px;
}ul li:nth-child(2){
  width:2%;
}
ul li:nth-child(3)
{
  padding-left: 3.5%;
}
ul li a:hover {
  color: rgba(255, 165, 92, 0.923);
}
.logo {
  position: absolute;
  display: flex;
  top: 100%;
  margin-top: 0.5%;
  margin-left: 20px;
  border-radius: 50%;
  border: azure 12px double;
  height: 65px;
  width: 65px;
}
.user_prof {
  float: right;
  margin-top: -65px;
  margin-right: 49px;
  padding-left: 42px;
}
.prof {
  width: 44px;
  height: 42px;
  border-radius: 100px;
  background-color: transparent;
  border-color: #fff;
}
.user_prof a i {
  color: #fff;
}
.ref {
  position: relative;
  left: 2%;
  padding-left: 1%;
}
.log {
  position: relative;
  left: 5%;
  padding-left: 1%;
}
#nav-sty1 {
  position: relative;
  top: 1%;
  left: 22.6%;
  height: 97%;
  width: 13%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.226),
    rgba(118, 116, 116, 0.101)
  );
  border: rgba(250, 235, 215, 0.263) 1.5px solid;
}
#nav-sty2 {
  position: relative;
  top: 1%;
  left: 35.6%;
  height: 97%;
  width: 14%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.226),
    rgba(118, 116, 116, 0.101)
  );
  border: rgba(250, 235, 215, 0.263) 1.5px solid;
  margin-top: -7.35%;
}
#nav-sty3 {
  position: relative;
  top: 1%;
  left: 49.7%;
  height: 97%;
  width: 14%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.226),
    rgba(118, 116, 116, 0.101)
  );
  border: rgba(250, 235, 215, 0.263) 1.5px solid;
  margin-top: -7.3%;
}
#nav-sty4 {
  position: relative;
  top: 1%;
  left: 63.7%;
  height: 97%;
  width: 18.7%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.226),
    rgba(118, 116, 116, 0.101)
  );
  border: rgba(250, 235, 215, 0.263) 1.5px solid;
  margin-top: -7.35%;
}
#nav-sty5 {
  position: relative;
  top: 1%;
  left: 82.5%;
  height: 97%;
  width: 17.1%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.226),
    rgba(118, 116, 116, 0.101)
  );
  border: rgba(250, 235, 215, 0.263) 1.5px solid;
  margin-top: -7.35%;
}
#p h3 {
  font-family: wrk;
  position: absolute;
  margin-top: 15px;
  left: 120px;
  color: azure;
  font-size: 50px;
  font-style: oblique;
}
.content {
  position: relative;
  width: 350px;
  height: 400px;
  margin-top: 120px;
  margin-left: 100px;
  background-color: rgba(0, 0, 0, 0.226);
}
.cont-pane {
  position: relative;
  align-items: center;
  justify-items: center;
  align-content: center;
  /* border: 3px #222 solid; */
}
.cont-img {
  position: relative;
  top: 4px;
  left: 0px;
  height: 160px;
  width: 342px;
  background-image: url(img/eff.jpg);
  opacity: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 4px;
}
.cont-img:hover {
  position: relative;
  opacity: 80%;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-left: 0px;
  width: 344px;
  border: #222 solid;
}
.content:hover {
  opacity: 100%;
  border: 4px rgb(206, 204, 204) double;
  border-radius: 10px;
}
.cont-pane h1 {
  position: relative;
  margin-top: 20px;
  margin-left: 13px;
  color: azure;
  font-weight: 500;
  font-family: tahoma;
}
.cont-pane p {
  position: relative;
  margin-top: 0px;
  margin-left: 10px;
  color: #fff;
}
.p2 {
  position: relative;
  font-family: sor;
  font-size: 25px;
  margin-left: 3px;
  padding-left: 20px;
  font-weight: 700;
  color: #d4e3ffc9;
}
article {
  position: absolute;
  top: 115%;
  left: 40.3%;
  width: 59.2%;
  height: 82%;
  display: flex;
  flex-basis: 50%;
  align-items: center;
  align-content: center;
  justify-items: center;
  background-color: #22222202;
  border-left: solid 2px rgba(255, 255, 255, 0.218);
}
.card {
  width: 42%;
  height: 62%;
  align-items: center;
  display: inline-block;
  border-radius: 10px;
  padding: 2% 2%;
  box-sizing: border-box;
  cursor: pointer;
  margin: 7% 9%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.search {
  background-image: radial-gradient(rgba(9, 2, 58, 0.452),rgba(13, 13, 41, 0.123)),url(img/ser.png);

}
.search h4 {
  padding-left: 20%;
  font-weight: bolder;
  color: #fff;
  text-shadow: 0 0 5px rgb(227, 255, 148);
}
.search p {
  background-color: transparent;
  padding-top: 74%;
  font-weight: 800;
  color: azure;
  text-shadow: 0 0 5px #999;
}
.sort {
  background-image:  radial-gradient(rgba(172, 168, 168, 0.699),rgba(255, 255, 255, 0.616)),url(img/sorted.jpg) ;
}
.sort h4 {
  padding-left: 20%;
  font-weight: bolder;
  color: rgb(3, 3, 3);
  text-shadow: 0 0 5px #1f003f82;
}
.sort p {
  background-color: transparent;
  padding-top: 70%;
  font-weight: 800;
  color: rgb(16, 16, 16);
  text-shadow: 0 0 10px rgb(226, 255, 108);
}
article header {
  position: absolute;
  top: 10%;
  left: 40%;
  width: 20%;
  height: 10%;
  align-items: center;
  align-content: center;
  display: flex;
}
header a {
  margin-top: 30%;
  margin-bottom: 50%;
  font-size: large;
  color: #fff;
  text-shadow: 0 0 20px rgb(255, 255, 136);
  font-weight: bold;
}
header a:hover {
  font-weight: bolder;
  font-size: larger;
  color: rgb(205, 229, 251);
  text-shadow: 0 0 25px rgb(255, 255, 188);
}
.card:hover {
  transform: translateY(5%);
  border-color: #fff;
  box-shadow: 0px 0px 20px #fff;
}
